
node_modules/
bower_components/

.env
.env.*
!.env.example

dist/
build/
out/

.vite/
.parcel-cache/
.next/
.nuxt/
.svelte-kit/

logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

coverage/
.DS_Store
Thumbs.db
.vscode/
!.vscode/extensions.json
.idea/
*.swp
uploads/
temp/
